.advanced_filters {
  display: flex;
  flex-direction: row;
  height: 50vh;
}

@media (max-width: 768px) {
  .advanced_filters {
    height: 80vh;
    flex-direction: column;
    position: relative;
  }
}
