.button {
  height: 10vh;
  width: 20%;
  border: 1px solid #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px 5px #0b5e97;
  border: 2px solid #0b5e97;
  background-color: #0381ff08;
  z-index: 1;
}

.button__text {
  background-color: white;
  font-size: 20px;
}

.button__icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #00000014;
  fill: #fff;
  margin-right: 1em;
}

.animated_circle {
  animation: icon_container_color_change 350ms linear forwards;
  background-color: white;
}

.button__icon_container__icon {
  width: 25px;
  height: 25px;
  color: #666666;
  border-radius: 50%;
  transition: 1000ms;
}

@keyframes icon_container_color_change {
  0% {
    border-color: #00000014;
  }
  25% {
    border-top: 2px solid #4a96e1;
    opacity: 1;
  }
  50% {
    border-top: 2px solid #4a96e1;
    border-left: 2px solid #4a96e1;
    opacity: 1;
  }
  75% {
    border-top: 2px solid #4a96e1;
    border-left: 2px solid #4a96e1;
    border-bottom: 2px solid #4a96e1;
    opacity: 1;
  }
  100% {
    border-top: 2px solid #4a96e1;
    border-left: 2px solid #4a96e1;
    border-bottom: 2px solid #4a96e1;
    border-right: 2px solid #4a96e1;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .button {
    min-width: 250px;
  }
}
